/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
	font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
nav{
	margin:50px;
	text-align:center;
	font-size:15px;
	letter-spacing:3px;
	
}
nav a{
	/* spacing the nav words */
	letter-spacing:3px;
	margin-left:10px;
	margin-right:40px;
	text-decoration: none;
	color: grey;
}
.logo{
	display:inline-block;
	vertical-align: top;
	padding-left:100px;
	
}
header{
	width:100%;
	border-bottom: 1px solid black;

}
h1{
	text-align: center;
	font-size: 80px;
	padding:50px 50px;
	position:relative;
	vertical-align: center;
	display: inline-block;
	width:30%;
}
.button{
	background:white;
	border: 3px solid grey;
	width:200px;
	color:grey;
	transition-duration:0.6s;
	margin: 0 auto;
	margin-bottom: 50px;
	padding: 5px 20px 5px;
	display:block;
}
.button:hover{
	background:grey;
	color:blue;
}

.snippet{
display:inline-block;
padding:50px 50px;
vertical-align:center;
width:30%;
}

#features {
	position:relative;
	display:inline-block;
	width: 23%;
	/* margin: 10px 5px 10px; */
}
#about{
	position:relative;
	display:inline-block;
	width: 23%;
	left:30%;
}
.middle-img{
	display:inline-block;
	margin-left:15%;
	padding: 10px 10px;
}
.bottom-content{
	width:100%;
	height:100px;
	/* border:1px solid black; */
	margin-top:30px;
	position:relative;
}
.bottom-content #services{
	position:absolute;
	top:0px;
	width:33%;
	border:1px solid black;
	
}
.bottom-content #product {
	position:absolute;
	top:0px;
	width:100%;
	left:400px;
	border:1px solid black;
}
.bottom-content #vision {
	position:absolute;
	top:0px;
	width:100%;
	left:400px;
	border:1px solid black;
 
}
h2{
	margin-bottom: 0;
 	text-align:left;
}
/* p{ */
	/* padding: 10px 30px;
	display:inline-block;
	/* width: 29%; */
/* }*/ 
	
.contact{
	text-align: center;
	padding:10px 30px;
	top:30px;
}

footer{
	padding:10px 30px;
	text-align: center;
}
body, html {
	margin-left:10%;
	margin-right:10%;
	}
